* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.room-list {
  list-style: none;
}

.hidden {
  display: none;
}

#stage2 {
  display: grid;
  background-color: #a7d4ee;
}

#stage2 > div {
  border: 1px solid #008db1;
  background-color: white;
  padding: 0.3em;
  margin: 0.1em;
  color: black;
}

#stage2 > div.reserved-event {
  background-color: #008db1;
  border: 1px solid #008db1;
  border-radius: 5px;
}

#stage2 > div.room-name {
  background-color: white;
}
