* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.room-list {
  list-style: none;
}

.hidden {
  display: none;
}

#stage2 {
  display: grid;
  background-color: lightblue;
}

#stage2 > div {
  border: 1px solid blue;
  background-color: white;
  padding: 0.3em;
  margin: 0.1em;
  color: black;
}

#stage2 > div.reserved-event {
  background-color: darkblue;
  border: 0;
}

#stage2 > div.room-name {
  background-color: white;
}
